{% macro render_blog_post(post, from_index=false) %}

<div class="col-md-4 col-xs-12">
  <div class="post">
    <a href="{{ post|url }}" class="image fit">
      <img src="{{ post|url }}{{ post.banner }}" alt="">
    </a>
    <h3><a href="{{ post|url }}">{{ post.title }}</a>&nbsp;&nbsp;&nbsp;</h3>
    <small>{{ post.pub_date }}&nbsp;&nbsp;·&nbsp;&nbsp;{{ estimate_reading_time(post.body.source) }} min</small>
    {% if post.authors %}
      <div>
        {% for author_blk in post.authors.blocks %}
        {% set user = site.get('/usuarios/' + author_blk.username + '/') %} 
          {% if not loop.last %}
            <h4 style="display:inline;">
              <a href="{{ user | url }}">{{ user.name }} {{ user.last_name }}</a>,&nbsp
          {% else %}
            <h4>
              <a href="{{ user | url }}">{{ user.name }} {{ user.last_name }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}</h4>
      </div>
    <p>{{ post.summary }}</p>
    <div class="row">
      <ul class="actions">
        <li style="text-align: center">
          <a href="{{ post|url }}" class="button button-post">Leer más</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endmacro %}

{% macro render_category_nav(active=none) %}
  <ul>
  {% for category in site.query('/blog/categorias') %}
    <li{% if category._id == active %} class="active"{% endif
      %}><a href="{{ category|url }}">{{ category.title }}</a></li>
  {% endfor %}
  </ul>
{% endmacro %}

{% macro render_blog_list(blogs) %}
  <ul>
  {% for blog in blogs %}
    <li><a href="{{ blog|url }}">{{ blog.title }}</a></li>
  {% endfor %}
  </ul>
{% endmacro %}
