{%- macro create_events(title, events) %}
  {%- if events %}

    {# Find all the years of the events found #}
    {%- set years = OrderedDict() -%}

    {%- for event in events %}  
      {%- set year = event.date_start|dateformat('YYYY') -%}
      {% if year not in years %}
        {%- set _none = years.__setitem__(year, 1) -%}
      {%- else -%}
        {%- set _none = years.__setitem__(year, years[year] + 1 ) -%}
      {% endif %}
    {% endfor -%}

    <div class="row">
      <div class="col-12">
        <h2>{{ title }} <i>({{ events|count }})</i></h2>
        <div class="accordion" id="accordionExample">

          {%- for year in years -%}
          {%- set index = loop.index -%}
          <div class="card">
            <div class="card-header {% if index != 1 %}collapsed{% endif %}" id="heading{{ index }}" data-toggle="collapse" data-target="#collapse{{ index }}" aria-expanded{% if index == 1 %}="true"{% endif %} aria-controls="collapse{{ index }}"
              style="cursor: pointer">
              <b>{{ year }} <i>({{ years[year] }})</i> <i class="fa fa-angle-down"></i></b>
            </div>
            <div id="collapse{{ index }}" class="collapse {% if index == 1 %}show{% endif %}" aria-labelledby="heading{{ index }}" data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                {%- for event in events %}
                {%- if event.date_start|dateformat('YYYY') == year -%}
                  <li><a href="{{ event|url }}">{{ event.date_start|dateformat('YYYY/MM/dd') }}: {{ event.title }}</a></li>
                {%- endif -%}
                {%- endfor %}
                </ul>
              </div>
            </div>
          </div>
          {%- endfor -%}
  
        </div>
      </div>
    </div>
  {%- endif %}
{%- endmacro %}