{% macro render_pagination(pagination) %}
<ul class="pagination">
  {% if pagination.has_prev %}
  <li>
    <a class="button" href="{{ pagination.prev|url }}">Previous</a>
  </li>
  {% else %}
  <li>
    <span class="button disabled">Previous</span>
  </li>
  {% endif %}
  <li class="page">
    <a href="#" class="page active">{{ pagination.page }}</a>
  </li>
  {% if pagination.has_next %}
  <li>
    <a href="{{ pagination.next|url }}" class="button">Next</a>
  </li>
  {% else %}
  <li>
    <span class="button disabled">Next</span>
  </li>
  {% endif %}
</ul>
{% endmacro %}
