{% extends "page.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}

{% block title %}{{ this.title }}{% endblock %}
{% block content %}

<section>
  <header class="major">
    <h2>Publicaciones</h2>
  </header>
  <div class="content">
    <p>Bienvenido a la seccion de noticias y publicaciones de la comunidad!</p>
  </div>
  <div class="posts">
     {% for child in this.pagination.items %} {# Ignore categories #} {% if child._model == 'blog-post' %} {{ render_blog_post(child,
    from_index=true) }} {% endif %} {% endfor %}
  </div>
  <div>
    {{ render_pagination(this.pagination) }}
  </div>
</section>
{% endblock %}
