{% extends "layout.html" %} {% block title %}{{ this.title }}{% endblock %} {% block body %} {%- if this.banner -%} {%- set
banner = this|url+this.banner -%} {%- else -%} {%- set banner = '/'|url+'static/images/banner.jpg' -%} {%- endif -%}

{%- macro create_events(title, events) %}
  {%- if events %}

    {# Find all the years of the events found #}
    {%- set years = OrderedDict() -%}

    {%- for event in events %}  
      {%- set year = event.date_start|dateformat('YYYY') -%}
      {% if year not in years %}
        {%- set _none = years.__setitem__(year, 1) -%}
      {%- else -%}
        {%- set _none = years.__setitem__(year, years[year] + 1 ) -%}
      {% endif %}
    {% endfor -%}

    <div class="row">
      <div class="col-12">
        <h2>{{ title }} <i>({{ events|length }})</i></h2>
        <div class="accordion" id="accordionExample">

          {%- for year in years -%}
          {%- set index = loop.index -%}
          <div class="card">
            <div class="card-header {% if index != 1 %}collapsed{% endif %}" id="heading{{ index }}" data-toggle="collapse" data-target="#collapse{{ index }}" aria-expanded{% if index == 1 %}="true"{% endif %} aria-controls="collapse{{ index }}"
              style="cursor: pointer">
              <b>{{ year }} <i>({{ years[year] }})</i> <i class="fa fa-angle-down"></i></b>
            </div>
            <div id="collapse{{ index }}" class="collapse {% if index == 1 %}show{% endif %}" aria-labelledby="heading{{ index }}" data-parent="#accordionExample">
              <div class="card-body">
                <ul>
                {%- for event in events %}
                {%- if event.date_start|dateformat('YYYY') == year -%}
                  <li><a href="{{ event|url }}">{{ event.date_start|dateformat('YYYY/MM/dd') }}: {{ event.title }}</a></li>
                {%- endif -%}
                {%- endfor %}
                </ul>
              </div>
            </div>
          </div>
          {%- endfor -%}
  
        </div>
      </div>
    </div>
  {%- endif %}
{%- endmacro %}

{%- macro organizing_team(title, usernames) %}
  {%- if usernames %}
    <div class="row">
      <div class="col-12">
        <h3>{{ title }}</h3>
        <div class="row justify-content-center">
        {%- for username in usernames %}
        {%- set user = site.get('/usuarios/' + username) %}
          <div class="col-lg-3 col-md-3 col-xs-12">
            <a href="{{ user|url }}">
              {%- if image_alt and user.image_alt %}
              <img class="image fit" src="{{ user|url }}/{{ user.image_alt }}" alt="{{ user.username }}" /> {%- elif not image_alt and user.image %}
              <img class="image fit" src="{{ user|url }}/{{ user.image }}" alt="{{ user.username }}" /> {%- elif image_alt and not user.image_alt %}
              <img class="image fit" src="{{ base_url }}static/images/empty-2x1.png" alt="{{ user.username }}" /> {%- elif not image_alt and not user.image %}
              <img class="image fit" src="{{ base_url }}static/images/empty-avatar.png" alt="{{ user.username }}" /> {%- endif %}
            </a>          
            <div class="row justify-content-center">
              <h4>{{ user.name }} {{ user.last_name }}</h4>
            </div>
            <div class="row justify-content-center">
              <ul class="icons">
                {%- if user.web %}
                <li>
                  <a href="{{ user.web }}" class="icon fa-globe" target="_blank">
                    <span class="label">Website</span>
                  </a>
                </li>
                {%- endif -%} {%- if user.email %}
                <li>
                  <a href="mailto:{{ user.email }}" class="icon fa-envelope" target="_blank">
                    <span class="label">Email</span>
                  </a>
                </li>
                {%- endif -%} {%- if user.facebook_handle %}
                <li>
                  <a href="https://facebook.com/{{ user.facebook_handle}}" class="icon fa-facebook" target="_blank">
                    <span class="label">Facebook</span>
                  </a>
                </li>
                {%- endif -%} {%- if user.instagram_handle %}
                <li>
                  <a href="https://instagram.com/{{ user.instagram_handle}}" class="icon fa-instagram" target="_blank">
                    <span class="label">Instagram</span>
                  </a>
                </li>
                {%- endif -%} {%- if user.twitter_handle %}
                <li>
                  <a href="https://twitter.com/{{ user.twitter_handle}}" class="icon fa-twitter" target="_blank">
                    <span class="label">Twitter</span>
                  </a>
                </li>
                {%- endif -%} {%- if user.github_handle %}
                <li>
                  <a href="https://github.com/{{ user.github_handle}}" class="icon fa-github-alt" target="_blank">
                    <span class="label">Github</span>
                  </a>
                </li>
                {%- endif %} {% if user.linkedin_handle %}
                <li>
                  <a href="https://www.linkedin.com/in/{{ user.linkedin_handle }}" class="icon fa-linkedin" target="_blank">
                    <span class="label">Linkedin</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  {%- endif %}
{%- endmacro %}

<section>
  <div class="content">
    <!-- <h1>{{ this.title }}</h1>
    <span class="image fit">
      <img src="{{ banner }}" alt="">
    </span> -->

    <div class="image fit banner">
      <img src="{{ banner }}" alt="Banner" />
      <div class="banner-title">
        <div class="banner-text">
          <h1>{{ this.title }}</h1>
        </div>
      </div>
    </div>
    {%- set crumbs = [] -%}
    {%- set current = {'crumb': this} -%}
    {%- for i in this._path.split("/") -%}
    {%- if current.crumb is not none -%}
    {%- if crumbs.insert(0, current.crumb) -%}{%- endif -%}
    {%- if current.update({"crumb": current.crumb.parent}) -%}{%- endif -%}
    {%- endif -%}
    {%- endfor %}
    <ul class="actions small">
      {%- for crumb in crumbs %}
      {%- if this._path == crumb._path -%}
      {%- set last_name = crumb.last_name if crumb.last_name else '' -%}
      {%- set name = crumb.title if crumb.title else crumb.name + ' ' + last_name -%}
      <li>
        <span class="button primary small"> {{ name }} </span>
      </li>
      {%- else -%}
      <li>
        <a class="button small" href="{{ crumb|url }}">{{ crumb.title }}</a>
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</section>

<section>
  <div class="content">
  {%- block content -%} {{ this.body }} {%- endblock -%}

  <h2>Equipo Django Girls Colombia</h2>
  {%- set dg = site.query('/usuarios/').filter(F.username == 'django-girls-colombia') -%}
  {% for item in dg %}
    {%- if item.members -%}
    {% set core_members = [] %}
    {% set members = [] %}
      {% for block in item.members.blocks %}
        {%- if block.position == 'core' -%}
          {% set _ = core_members.append(block.username) %}
        {%- else -%}
          {% set _ = members.append(block.username) %}
        {%- endif -%}
      {% endfor %}
    {{ organizing_team('Core Team', core_members) }}
    {{ organizing_team('Colaboradores', members) }}
    {%- endif -%}
  {% endfor %}

  {%- set events = site.query('/eventos/') -%}
  {%- set events_organized_by_this = [] -%}
  {%- for event in events -%}
    {%- for block in event.organizers.blocks -%}
    {%- if block.username == 'django-girls-colombia' -%}
      {%- set _ = events_organized_by_this.append(event) -%}
    {% endif -%}
    {% endfor -%}
  {%- endfor -%}
  {{ create_events('Eventos', events_organized_by_this) }}
    
  </div>
</section>
<section>
  <div class="content">
    <h4>Más información:</h4>
    <ul>
      <li><span class="icon email fa-envelope"> Email: djangogirlscolombia@gmail.com</span></li>
      <li><span class="icon facebook fa-facebook"><a href="https://www.facebook.com/djangogirlsco/" target="blank_" class="facebook"> Facebook</a></span> </li>
      <li><span class="icon instagram fa-instagram"><a href="https://www.instagram.com/djangogirlsco/" target="blank_" class="instagram"> Instagram</a></span> </li>
      <li><span class="icon twitter fa-twitter"><a href="https://twitter.com/djangogirlsco" target="blank_" class="twitter"> Twitter</a></span> </li>
      <li><span class="icon medium fa-medium"><a href="https://medium.com/@djangogirlscolombia" target="blank_" class="medium"> Medium</a></span> </li>
    </ul>
  </div>
</section>
{% endblock %}