{% extends "page.html" %}

{%- set lon_ll = this.longitude - 0.001 -%}
{%- set lon_ur = this.longitude + 0.001 -%}
{%- set lat_ll = this.latitude - 0.002 -%}
{%- set lat_ur = this.latitude + 0.002 -%}
{%- set guides_users = [] -%}
{%- set organizers_users = [] -%}
{%- set organizers_orgs = [] -%}
{%- set collaborators_users = [] -%}
{%- set collaborators_orgs = [] -%}
{%- set sponsors = [] -%}


{% macro render_users(users, title, extra=true, image_alt=false, items=4) %}
  <br />
  {%- if users -%}
  <h2>{{ title }}</h2>
  <div class="row">
  {%- for user in users -%}
    <div class="col-md-3" style="max-width: {{ 100.0/items }}%;">

      <a href="{{ user|url }}">
      {% if image_alt and user.image_alt %}
      <img class="image fit" src="{{ user|url }}/{{ user.image_alt }}" alt="{{ user.username }}" />
      {% elif not image_alt and user.image %}
      <img class="image fit" src="{{ user|url }}/{{ user.image }}" alt="{{ user.username }}" />
      {% elif image_alt and not user.image_alt %}
      <img class="image fit" src="{{ base_url }}static/images/empty-2x1.png" alt="{{ user.username }}" />
      {% elif not image_alt and not user.image %}
      <img class="image fit" src="{{ base_url }}static/images/empty-avatar.png" alt="{{ user.username }}" />
      {% endif %}
      </a>

      {% if extra %}
      <span>{{ user.name }} {{ user.last_name }}</span>
        <ul class="icons">
          {% if user.web %}
          <li>
            <a href="{{ user.web }}" class="icon fa-globe" target="_blank">
              <span class="label">Website</span>
            </a>
          </li>
          {% endif %}

          {% if user.email %}
          <li>
            <a href="mailto:{{ user.email }}" class="icon fa-envelope" target="_blank">
              <span class="label">Email</span>
            </a>
          </li>
          {% endif %}
          {% if user.facebook_handle %}
          <li>
            <a href="https://facebook.com/{{ user.facebook_handle}}" class="icon fa-facebook" target="_blank">
              <span class="label">Facebook</span>
            </a>
          </li>
          {% endif %}
          {% if user.twitter_handle %}
          <li>
            <a href="https://twitter.com/{{ user.twitter_handle}}" class="icon fa-twitter" target="_blank">
              <span class="label">Twitter</span>
            </a>
          </li>
          {% endif %}
          {% if user.github_handle %}
          <li>
            <a href="https://github.com/{{ user.github_handle}}" class="icon fa-github" target="_blank">
              <span class="label">Github</span>
            </a>
          </li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
    
  {%- endfor -%}
  </div>

  {%- endif -%}
{% endmacro %}

{%- if this.date_start -%}

  {%- if this.delta_open -%}
    {%- set date_open = this.date_start.fromordinal(this.date_start.toordinal() -  this.delta_open) -%}
  {%- endif -%}

  {%- if this.delta_close -%}
    {%- set date_close = this.date_start.fromordinal(this.date_start.toordinal() -  this.delta_close) -%}
  {%- endif -%}

  {%- if this.delta_selection -%}
    {%- set date_announcement = this.date_start.fromordinal(this.date_start.toordinal() -  this.delta_selection) -%}
  {%- endif -%}

  {%- if this.delta_announcement -%}
    {%- set date_announcement_2 = this.date_start.fromordinal(this.date_start.toordinal() -  this.delta_announcement) -%}
  {%- endif -%}

  {%- if this.delta_limit -%}
    {%- set date_limit = this.date_start.fromordinal(this.date_start.toordinal() -  this.delta_limit) -%}
  {%- endif -%}

{%- endif -%}


{%- if this.guides -%}
  {%- for userblock in this.guides.blocks -%}
    {%- set user = site.get('/usuarios/' + userblock.username) -%}
    {%- if userblock._flowblock == 'user' -%}
      {%- set a = guides_users.append(user) -%}
    {%- else -%}
      {%- set b = guides_orgs.append(user) -%}  
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}


{%- if this.organizers -%}
  {%- for userblock in this.organizers.blocks -%}
    {%- set user = site.get('/usuarios/' + userblock.username) -%}
    {%- if userblock._flowblock == 'user' -%}
      {%- set a = organizers_users.append(user) -%}
    {%- else -%}
      {%- set b = organizers_orgs.append(user) -%}  
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

{%- if this.collaborators -%}
  {%- for userblock in this.collaborators.blocks -%}
    {%- set user = site.get('/usuarios/' + userblock.username) -%}
    {%- if userblock._flowblock == 'user' -%}
      {%- set a = collaborators_users.append(user) -%}
    {%- else -%}
      {%- set b = collaborators_orgs.append(user) -%}  
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

{%- if this.sponsors -%}
  {%- for userblock in this.sponsors.blocks -%}
    {%- set user = site.get('/usuarios/' + userblock.username) -%}
    {%- set a = sponsors.append(user) -%}
  {%- endfor -%}
{%- endif -%}

{% block title %}{{ this.title }} - {{ this.date_start|dateformat('YYYY/MM/dd') }}{% endblock %}
{% block content %}

<style>
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

#mapsource {
  pointer-events: none;
}  
</style>

<section>
  <div class="content">
    <div class="col-12-small">
      {% if this.membrete %}
      <span class="image fit">
        <img src="{{ this|url(alt='es') }}{{ this.membrete }}" />
      </span>
      {% else %}
      <h1>Taller Django Girls en {{ this.city }}, {{ this.country}}</h1>
      {% endif %}
    </div>
    <p>
    ¡Queremos animar a más mujeres a dominar la web! Es por eso que&nbsp;

    {%- for user in organizers_orgs -%}
      {%- if loop.first -%}
      &nbsp;
      {%- elif not loop.last -%}
      ,&nbsp;
      {%- else -%}
      &nbsp;y&nbsp;
      {%- endif -%}
      <b>{{ user.name }}</b>
    {%- endfor -%}

    &nbsp; estamos organizando un taller en el cual podrás construir tu propio
    sitio web <i>desde cero</i> en un día. Además, vamos a utilizar todas las
    herramientas que programadores profesionales utilizan diariamente. ¡Y de una
    manera muy sencilla!
    </p>

    <div class="row">
      <div class="col-7 col-6-medium col-12-small">
        <h2>¡Es hora de aprender a programar!</h2>
        <p>
          El taller comienza por la mañana temprano en donde presentamos la dinámica, explicamos en pocos minutos como va a ser la
          jornada y preparamos todas las herramientas necesarias. Además, presentamos a cada uno de
          <a href="#guias">nuestros guías</a> que nos van a ayudar durante todo el día con los problemas que se nos vayan presentando.
          <br />
          <br /> Una vez que estamos listos, comenzamos leyendo el
          <a href="https://argentinaenpython.com/django-girls/tutorial/" target="_blank">tutorial</a>
          <i>autoguiado</i> escrito especialmente para ti por
          <a href="https://djangogirls.org" target="_blank">Django Girls</a>
          (una fundación sin fines de lucro que motiva a las mujeres a programar, organizando estos eventos en todo el mundo). Leyendo
          este tutorial aprenderemos conceptos básicos sobre cómo funciona internet y luego nos sumergiremos en el desarrollo de
          nuestro primer sitio web: ¡un blog!
          <br />
          <br /> Aprenderemos a utilizar las herramientas básicas al principio, como así también los conceptos de programación para comenzar
          a programar nosotros mismos nuestro blog.
          <br />
          <br /> Habrá descansos programados dentro del tutorial, y al medio día un almuerzo (no incluído por la organización) donde podremos
          compartir qué hemos hecho hasta el momento y charlar con todos los miembros del taller libremente.
          <br />
          <br /> Durante la tarde seguiremos trabajando para finalmente montar nuestro sitio web en internet y así tener una dirección
          (¡en internet!) para poder compartir con nuestros amigos y que vean la obra de arte que acabamos de crear ;)
          <br />
          <br /> Finalmente, una charla de despedida y una tormenta de ideas y sugerencias para así poder mejorar nuestra próxima experiencia
          y animar a más mujeres a trabajar con la programación. ¡Felicitaciones, lo has logrado!
        </p>
      </div>
      <div class="col-5 col-6-medium col-12-small">
        <span class="image fit">
          <img src="{{ this|url(alt='es') }}{{ this.image }}" />
        </span>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="content">
    <h3>¡Me quiero sumar!, pero soy hombre :’(</h3>
    <p>
    ¡No te preocupes, puedes sumarte igual!. La condición: llevar a una mujer 
    contigo que también realice el taller <a href="#condicion">[1]</a>.
    </p>
  </div>
</section>

<section>
  <div class="content">
    <h2>¿Cuándo y dónde?</h2>
    {%- if 'pycon' in this.title|lower -%}
    <p>
    Este taller de Django Girls se realiza en el marco de la Conferencia de
    PyCon Colombia organizado por la comunidad de Python Colombia. Es el evento
    de programación en Python más grande del país.</p>
    {%- endif -%}
    <div class="row">
      <div class="col-6 col-12-small"> 
        <h3>Fecha:</h3>
        <p><b>
        {{ this.date_start|datetimeformat('EEEE', locale='es')|capitalize }}
        {{ this.date_start|datetimeformat('d', locale='es') }} de 
        {{ this.date_start|datetimeformat('MMMM', locale='es') }} de 
        {{ this.date_start|datetimeformat('YYYY', locale='es') }}</b>
        desde las <b>{{ this.date_start|datetimeformat('HH:mm', locale='es') }}</b>
        (¡puntual!) hasta las <b>{{ this.date_end|datetimeformat('HH:mm', locale='es') }}</b>.
        </p>
      </div>
      <div class="col-6 col-12-small">
        <h3>Lugar:</h3>
        <span>{{ this.location }}<span></br>
        <span>{{ this.city }}, {{ this.country }}</span>
        <br><br>
      </div>
    </div>

    <div class="embed-container">
      <iframe id= "mapsource" scrollwheel="false" width="800" height="600"
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
              src="https://www.openstreetmap.org/export/embed.html?bbox={{ lon_ll }}%2C{{ lat_ll }}%2C{{ lon_ur }}%2C{{ lat_ur }}&amp;layer=mapnik&amp;marker={{ this.latitude }}%2C{{ this.longitude }}"
              style="border: 1px solid black">
      </iframe>
    </div>
    <small>
      <a href="https://www.openstreetmap.org/#map=18/{{ this.latitude }}/{{ this.longitude }}">
      Ver mapa de mayor tamaño
      </a>
    </small>
  </div>
</section>
<hr class="major" />
<section>
  <div class="content">
    <div class="row">
      <div class="col-8 col-12-small">
        <h2>Ten en cuenta que…</h2>
        <ul>
          <li>
          tienes que <b>inscribirte</b> utilizando el botón “¡Quiero inscribirme!”
          </li>
          <li>
          los cupos son limitados, así que luego de inscribirte <b>debes
          esperar</b> 
          una confirmación por parte de los organizadores para poder asistir.
          </li>
          <li>
          te recomendamos seguirnos en Twitter donde publicaremos novedades sobre
          el evento.
          </li>
          <li>
          no es necesario saber programar o tener algún conocimiento previo de
          programación.
          </li>
          <li>
          es necesario <b>llevar computador portatil</b> para poder trabajar con
          este durante todo el día.
          </li>
          <li>
          el taller es gratuito. Sin embargo, se aceptan donaciones para que el
          proyecto pueda realizar más talleres gratuitos.
          </li>
          <li>
          en lo posible, debes llevar una extension de corriente.
          </li>
          <li>
          agrega la dirección djangogirlscolombia@gmail.com a tu libreta de
          direcciones así evitamos que el email llegue a SPAM
          </li>
          <li>
          vamos a respetar las fechas publicadas en el cronograma
          </li>
          <li>
          debes registrarte como Asistente o como Guía -no ambos.
          </li>
          <li>
          al momento de completar el formulario, pon mucha atención en tu dirección
          de email, ya que es el único contacto tuyo que tenemos.
          </li>
          <li>
          te recomendamos llevar un abrigo.
          </li>
          <li>
          todos los participantes deben seguir el <b>Código de Conducta</b> (ver
          Preguntas frecuentes).
          </li>
        </ul>
      </div>

      <div class="col-4 col-12-small">
        <h2>Contacto</h2>
        <p>
        Cualquier duda que tengas sobre el taller, nos puedes escribir a
        <a href="mailto:djangogirlscolombia@gmail.">djangogirlscolombia@gmail.com
        </a>, para ponerte en contacto con nosotros.
        </p>
      </div>
    </div>
  </div>
</section>
<hr class="major" />
<section>
  <div class="content">
    <h2>Cronograma</h2>

    <div class="row">

      {%- if this.timeline -%}
      <span class="image fit">
        <img src="{{ this|url(alt='es') }}{{ this.timeline }}" />
      </span>
      {%- endif -%}
      <div class="row">
        {%- if date_close -%}
        <div class="col-4 col-12-small">
          <p>
          {%- if date_open -%}
          El <b>{{ date_open|dateformat('d') }} de
          {{ date_open|dateformat('MMMM')|capitalize }}</b> se abren las
          inscripciones.
          {%- endif -%}
          Tienes tiempo hasta el <b>{{ date_close|dateformat('d') }}
          de {{ date_close|dateformat('MMMM')|capitalize }}</b> para inscribirte. Te
          recomendamos leer la paǵina de forma completa y prestar mucha atención en
          el formulario.
          </p>
        </div>
        {%- endif -%}

        {%- if date_announcement -%}
        <div class="col-4 col-12-small">
          <p>
          El <b>{{ date_announcement|dateformat('d') }} de
          {{ date_announcement|dateformat('MMMM')|capitalize }}</b> anunciaremos los
          participantes que fueron <b>CONFIRMADOS</b> para participar en el taller,
          como así también los que están en <b>LISTA DE ESPERA</b>. Ese día debes
          revisar tu correo electrónico buscando un email nuestro en Bandeja de
          Entrada y <i>SPAM</i> y confirmar tu asistencia respondiéndolo.
          </p>
        </div>
        {%- endif -%}
        {%- if date_announcement_2 -%}
        <div class="col-4 col-12-small">
          <p>
          El <b>{{ date_announcement_2|dateformat('d') }} de
          {{ date_announcement_2|dateformat('MMMM')|capitalize }}</b> anunciaremos
          los participantes que estaban en <b>LISTA DE ESPERA</b> y que han pasado a
          estar <b>CONFIRMADOS</b>. Si estabas en <b>LISTA DE ESPERA</b> es un buen
          momento para revisar tu correo electrónico.&nbsp;
          {%- if date_limit -%}
          Tendras hasta el <b>{{ date_limit|dateformat('d') }} de
          {{ date_limit|dateformat('MMMM')|capitalize }}</b> para confirmar tu
          asistencia si estas en <b>LISTA DE ESPERA</b>.
          {%- endif -%}
          </p>
        </div>
        {%- endif -%}
      </div>

      <div class="col-md-12">
        <div class="box">
        ¡Atención!: hemos alcanzado el cupo máximo de inscriptos para el taller.
        Sin embargo, si estás interesada en participar, inscribite y pasarás
        automáticamente a una lista de espera que, en caso de que alguien no pueda
        asistir, nos estaremos comunicando con vos para informarte.!
        </div>
      </div>
      
      {%- if this.form_attendees -%}
      <div class="col-md-12">
        <p class="text-center">
          <a class="button primary large" href="{{ this.form_attendees }}"
            role="button" target="_blank">
            Quiero inscribirme!
          </a>
        </p>
      </div>
      {%- endif -%}

      <div class="col-md-12">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="content">
    <h2>Guías / Entrenadores</h2>

    <p>
    Los guías son una parte muy importante del evento. Son las personas que tienen
    conocimiento sobre programación (no necesariamente Python/Django) pero que
    están más acostumbradas al manejo de herramientas tradicionales como ser
    sistemas de control de versiones, Internet, consola de GNU/Linux, programación
    básica y otros.
    </p>

    <h3>Quiero ser guía</h3>

    <p>Si quieres colaborar con este evento y sumarte a los guías que serán nuestra
    ayuda durante todo el día del evento en esos momentos de caos, registrate en el
    siguiente formulario y nos pondremos en contacto contigo para coordinar los
    detalles.
    </p>

    {%- if this.form_guides -%}
    <p class="text-center">
      <a class="button primary large" href="{{ this.form_guides }}" role="button"
         target="_blank">
      Quiero inscribirme como guia
      </a>
    </p>
    {%- endif -%}
  </div>
</section>

{{ render_users(guides_users , '¡Conoce a nuestros guías!', items=5) }}

{{ render_users(organizers_users , '¡Los organizadores!') }}

{{ render_users(collaborators_users , '¡Los colaboradores!', items=5) }}

{{ render_users(sponsors , 'Patrocinadores', extra=false, image_alt=true) }}

{{ render_users(collaborators_orgs, 'Con el apoyo de', extra=false, image_alt=true) }}

<hr>

<h3>¿Te gustaría que tu empresa sea parte de este evento?</h3>
<p>
Contáctanos para hacerlo posible y así apoyar a que haya más eventos de
programación en la ciudad.
</p>

<hr class="major" />
<section>
  <div class="content">
    <h2>Python Software Foundation</h2>
    <p>
    La misión de la Python Software Foundation es promover, proteger y potenciar
    el lenguaje de programación Python, además de apoyar y facilitar el crecimiento
    de la diversidad y la comunidad internacional de programadores Python. El mayor
    trabajo de la PSF está enfocado en empoderar y apoyar personas dentro de la
    comunidad de Python. La PSF posee un activo programa de subvención para apoyar
    sprints, conferencias, meetups, grupos de usuarios y esfuerzos de desarrollo en
    Python en todo el mundo. Sumado a esto, la PSF lleva adelante la conferencia
    PyCon US, que es la conferencia principal en la comunidad de Python.
    Recientemente, cambiamos la PSF para ser una organización miembros abierta,
    por lo que cualquiera que use y apoye Python pueda unirse.
    </p>
    <p>
    Para saber más, lee sobre
    <a href="https://www.python.org/psf/membership">
    como convertirte en un miembro.
    </a>
    </p>
  </div>
</section>
<hr class="major" />
<section>
  <div class="content">
    <h2>Preguntas frecuentes</h2>
    <p>
    Algunas pequeñas preguntas que te pueden sacar algunas dudas. De cualquier
    forma, si hay algo que no quede claro aquí, por favor escribinos un email y nos
    pondremos en contacto contigo.
    </p>
    <dl class="alt">
      <dt>
        ¿Necesito saber programación?
        <dd>
          ¡No! El taller es para iniciarte en el mundo del desarrollo web. Sin embargo, si tienes algo de conocimiento técnico previo también eres bienvenida.
        </dd>
      </dt>
      <dt>
        ¿Habrá comida?
        <dd>
          Si, daremos almuerzo y snacks.
        </dd>
      </dt>
      <dt>
        ¿Debo traer mi propia laptop?
        <dd>
          Sí, necesitarás una notebook/laptop para trabajar con ella durante todo el día. No importa el sistema operativo que tengas, vamos a trabajar en Windows, Mac OSX y dtnux.
        </dd>
      </dt>
      <dt>
        ¿Necesito instalar algo en mi laptop?
        <dd>
          ¡Sí! Es necesario que instales Python y algunas herramientas más. Te vamos a estar comunicando como hacerlo una vez que te registres.
        </dd>
      </dt>
      <dt>
        No soy mujer, ¿puedo ir?
        <dd>
          ¡Claro! Sólo ten en cuenta que este taller es una iniciativa para acercar a más mujeres a la tecnología, por lo tanto se les dará prioridad.
        </dd>
      </dt>
      <dt>
        ¿Por qué hacen esto?
        <dd>
          Porque creemos que hay que motivar a que haya más mujeres en la industria de la programación y en el desarrollo de software.
        </dd>
      </dt>
      <dt>
        Código de Conducta
        <dd>
          <p>Valoramos la participación de cada miembro de la comunidad Python y que todos los asistentes tengan una experiencia agradable y satisfactoria. 
          En consecuencia, se espera que todos los asistentes muestren respeto y cortesía a otros asistentes durante toda la conferencia y en todos los eventos relacionados con la conferencia.<p>
          <p>Para no dejar lugar a dudas, lo que se espera es que todos los asistentes, expositores, organizadores y voluntarios cumplan el siguiente Código de Conducta. Los organizadores (voluntarios y sponsors) serán responsables de fomentar el cumplimiento de este código durante todo el evento.</p>
          <ul>
            <li>Todos los asistentes tienen derecho a ser tratados con cortesía, dignidad y respeto y estar libre de cualquier forma de discriminación, victimización, acoso o intimidación; como así también a disfrutar de un ambiente libre de comportamiento no deseado, lenguaje inapropiado e imágenes inadecuadas.</li>
            <li>Está terminantemente prohibido el acoso. Entendiendo por éste, la comunicación ofensiva relacionada con el género, la orientación sexual, la discapacidad, la apariencia física, el tamaño corporal, la raza, la religión, las imágenes sexuales en espacios públicos, intimidación deliberada, acecho, siguiendo, de acoso fotográfico o grabación, interrupción sostenida de conversaciones u otros eventos, inapropiado contacto físico y atención sexual no deseada.</li>
            <li>Sea amable con los demás: confiamos en que los asistentes podrán tratar a los demás de una manera que refleja la opinión generalizada de que la diversidad y la amabilidad son los puntos fuertes de nuestra comunidad que se celebran y fomentan.</li>
            <li>Tenga cuidado con las palabras que elija. Recuerde que los chistes de exclusión sexistas, racistas, y otros pueden ser ofensivos para quienes le rodean.</li>
          </ul>
          <p>Personal del evento estará encantado de ayudar a los participantes a que se sientan seguros y libres de acoso, por lo que si surgen problemas cubiertos por este código de conducta, por favor póngase en contacto con los organizadores del evento, los cuales tienen una camiseta distintiva. Cualquier queja será confidencial, será tomado en serio, investigada y tratada adecuadamente.</p>
          <p>Si un participante se involucra en comportamiento que viola el código de conducta, los organizadores del evento pueden tomar cualquier acción que consideren apropiada, incluyendo advertencia al infractor o la expdlsión del evento.</p>
        </dd>
        <blockquote>Fuente: <a href="http://ar.pycon.org/" target="_blank">PyCon Argentina Mendoza</a></blockquote>
      </dt>
    </dl>
  </div>
</section>
<hr class="major" />
<section>
  <div class="box">
    <h2>Nota</h2>
    <p>
    ¡Ayudanos con la difusión compartiendo esta página y comentando sobre el taller
    las redes sociales, tu universidad y entre tus amigos!

    Este evento forma parte de <b>Django Girls</b> y tiene su propio sitio web bajo
    esta marca: <b>Django Girls {{ this.city }}</b>
    </p>
  </div>
</section>
<hr class="major" />
<section>
  <div class="content">
    <blockquote>
    <a id="condicion">[1]</a> Regístrate en el formulario y comenta con quien vas.
    Además, dile a ella que también se registre e indique que va contigo.
    </blockquote>
  </div>
</section>

{% endblock %}
