{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}

{% block body %}
<!-- Banner -->
<section id="banner">
	<div class="content">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<header>
					<h1>Python Colombia</h1>
					<p>Somos una Comunidad
					<br>de Desarrollo Tecnológico</p>
				</header>
				<div class="row justify-content-center">
					<ul class="actions">
						<li>
							<a href="#about" class="button primary big">Sobre Nosotros</a>
						</li>
						<li>
							<a href="/contacto/" class="button primary big">Más información</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<img src="{{ '/'|url }}static/images/slider/pycon-colombia-2018.jpg" alt="" class="img-fluid rounded" />
			</div>
		</div>
	</div>
</section>
<section class="about" id="about">
  <div class="content">
		<h2>Sobre Nosotros</h2>
  	<div class="row">
			<div class="col-md-6 col-sm-12 col-12">
				<p>Somos una comunidad enfocada en extender en el territorio nacional el uso y aprendizaje de las distintas tecnologías python y sus numerosas aplicaciones.</p>
				<p>Nuestra comunidad está conformada por personas con diferentes niveles de conocimiento siempre dispuestas a aprender y compartir nuestro saber mostrando una gran empatía y respeto hacia los demás.</p>
			</div>
			<div class="col-md-6 col-sm-12 col-12">
				<img src="{{ '/'|url }}static/images/about-us.jpg" class="img-thumbnail" alt="">
			</div>
		</div>
		<p>Siempre motivados a crecer mucho más y totalmente comprometidos a promover la diversidad y la inclusión en cada una de nuestras actividades y eventos.</p>
		<div class="row justify-content-center">
			<ul class="actions">
				<li>
					<a href="/sobre-nosotros/" class="button primary big">Más información</a>
				</li>
			</ul>
		</div>
	</div>
</section>
<section id="blog">
	<header class="major">
		<h2>Publicaciones Recientes</h2>
	</header>
	<div class="content">
		<p>Bienvenido a la sección de noticias y publicaciones de la comunidad!</p>
	</div>
	<div class="row">
		<div class="row row-eq-height">
			{%- set blogs = site.query('/blog', alt=this.alt).limit(3) -%} {% for post in blogs %} {# Ignore categories #} {% if post._model
		 == 'blog-post' %} {{ render_blog_post(post, from_index=true) }} {% endif %} {% endfor %}
		</div>
	</div>
</section>

{% endblock %}
