{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

{%- if this.banner -%}
  {%- set banner = this|url+this.banner -%}
{%- else -%}
  {%- set banner = '/'|url+'static/images/banner.jpg' -%}
{%- endif -%}

<section>
  <div class="content">
    <!-- <h1>{{ this.title }}</h1>
    <span class="image fit">
      <img src="{{ banner }}" alt="">
    </span> -->

    <div class="image fit banner">
      <img src="{{ banner }}" alt="Banner" />
      <div class="banner-title">
        <div class="banner-text">
          <h1>{{ this.title }}</h1></div>
        </div>
    </div>
    {%- set crumbs = [] -%}
    {%- set current = {'crumb': this} -%}
    {%- for i in this._path.split("/") -%}
        {%- if current.crumb is not none -%}
            {%- if crumbs.insert(0, current.crumb) -%}{%- endif -%}
            {%- if current.update({"crumb": current.crumb.parent}) -%}{%- endif -%}
        {%- endif -%}
    {%- endfor %}
    <ul class="actions small">
      {%- for crumb in crumbs %}
          {%- if this._path == crumb._path -%}
              {%- set last_name = crumb.last_name if crumb.last_name else '' -%}
              {%- set name = crumb.title if crumb.title else crumb.name + ' ' + last_name -%}
              <li>
                <span class="button primary small"> {{ name }} </span>
              </li>
          {%- else -%}
              <li>
                <a class="button small" href="{{ crumb|url }}">{{ crumb.title }}</a>
              </li>
          {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</section>

<section>
  <div class="content">
    {%- block content -%}
      <ul class="sitemap">
        {% for page in site.query('/', alt=this.alt) recursive %}
        <li><a href="{{ page|url(alt=this.alt) }}">{{ page['title'] or page['username'] or page.record_label }}</a>
          {% if page.children %}
          <ul>{{ loop(page.children) }}</ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    {%- endblock -%}
  </div>
</section>
{% endblock %}