{% extends "page.html" %}



{%- macro create_events(title, events) %}
  {%- if events %}
    <div class="row">
      <div class="col-12">
        <h2>{{ title }}</h2>
        <ul>
        {%- for event in events %}
        <li><a href="{{ event|url }}">{{ event.date_start|dateformat('YYYY/MM/dd') }}: {{ event.title }}</a></li>
        {%- endfor %}
        </ul>
      </div>
    </div>
  {%- endif %}
{%- endmacro %}


{%- macro organizing_team(title, usernames) %}
  {%- if usernames %}
    <div class="row">
      <div class="col-12">
        <h2>{{ title }}</h2>
        <div class="row justify-content-center">
        {%- for username in usernames %}
        {%- set user = site.get('/usuarios/' + username) %}
          <div class="col-lg-3 col-md-3 col-xs-12">
            <a href="{{ user|url }}">
              {%- if image_alt and user.image_alt %}
              <img class="image fit" src="{{ user|url }}/{{ user.image_alt }}" alt="{{ user.username }}" /> {%- elif not image_alt and user.image %}
              <img class="image fit" src="{{ user|url }}/{{ user.image }}" alt="{{ user.username }}" /> {%- elif image_alt and not user.image_alt %}
              <img class="image fit" src="{{ base_url }}static/images/empty-2x1.png" alt="{{ user.username }}" /> {%- elif not image_alt and not user.image %}
              <img class="image fit" src="{{ base_url }}static/images/empty-avatar.png" alt="{{ user.username }}" /> {%- endif %}
            </a>          
            <div class="row justify-content-center">
              <h4>{{ user.name }} {{ user.last_name }}</h4>
            </div>
            <div class="row justify-content-center">
              <ul class="icons">
                {%- if user.web %}
                <li>
                  <a href="{{ user.web }}" class="icon fa-globe" target="_blank">
                    <span class="label">Website</span>
                  </a>
                </li>
                {%- endif -%} {%- if user.email %}
                <li>
                  <a href="mailto:{{ user.email }}" class="icon fa-envelope" target="_blank">
                    <span class="label">Email</span>
                  </a>
                </li>
                {%- endif -%} {%- if user.facebook_handle %}
                <li>
                  <a href="https://facebook.com/{{ user.facebook_handle}}" class="icon fa-facebook" target="_blank">
                    <span class="label">Facebook</span>
                  </a>
                </li>
                {%- endif -%}
                {%- if user.instagram_handle %}
                <li>
                  <a href="https://instagram.com/{{ user.instagram_handle}}" class="icon fa-instagram" target="_blank">
                    <span class="label">Instagram</span>
                  </a>
                </li>
                {%- endif -%} {%- if user.twitter_handle %}
                <li>
                  <a href="https://twitter.com/{{ user.twitter_handle}}" class="icon fa-twitter" target="_blank">
                    <span class="label">Twitter</span>
                  </a>
                </li>
                {%- endif -%} {%- if user.github_handle %}
                <li>
                  <a href="https://github.com/{{ user.github_handle}}" class="icon fa-github-alt" target="_blank">
                    <span class="label">Github</span>
                  </a>
                </li>
                {%- endif %} {% if user.linkedin_handle %}
                <li>
                  <a href="https://www.linkedin.com/in/{{ user.linkedin_handle }}" class="icon fa-linkedin" target="_blank">
                    <span class="label">Linkedin</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  {%- endif %}
{%- endmacro %}


{% block title %}{{ this.name }} {{ this.last_name }}{% endblock %}
{% block content %}
<section class="about" id="about">
  <div class="content">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-12">
        {% if this.image %}
        <img class="image fit" src="{{ this.image }}" alt="{{ this.username }}">
        {% endif %}
        <div class="row justify-content-center">
          <h2>{{ this.name }} {{ this.last_name }}</h2>
        </div>
        <p>{{ this.summary }}</p>
        {% if this.web %}
        <p><a href="{{ this.web }}" class="icon fa-link" target="_blank">
          <span class="label">Web</span> {{ this.web }}
        </a></p>
        {% endif %}

        <div class="row justify-content-center">
          <ul class="icons">
            {% if this.email %}
            <li>
              <a href="mailto:{{ this.email }}" class="icon fa-envelope" target="_blank">
                <span class="label">Email</span>
              </a>
            </li>
            {% endif %}
            {% if this.twitter_handle %}
            <li>
              <a href="https://www.twitter.com/{{ this.twitter_handle }}" class="icon fa-twitter" target="_blank">
                <span class="label">Twitter</span>
              </a>
            </li>
            {% endif %}
            {% if this.facebook_handle %}
            <li>
              <a href="https://www.facebook.com/{{ this.facebook_handle }}" class="icon fa-facebook" target="_blank">
                <span class="label">Facebook</span>
              </a>
            </li>
            {% endif %}
            {% if this.instagram_handle %}
            <li>
              <a href="https://www.instagram.com/{{ this.instagram_handle }}" class="icon fa-instagram" target="_blank">
                <span class="label">Instagram</span>
              </a>
            </li>
            {% endif %}
            {% if this.github_handle %}
            <li>
              <a href="https://github.com/{{ this.github_handle }}" class="icon fa-github-alt" target="_blank">
                <span class="label">Github</span>
              </a>
            </li>
            {% endif %}
            {% if this.telegram_handle %}
            <li>
              <a href="https://t.me/{{ this.telegram_handle }}" class="icon fa-telegram" target="_blank">
                <span class="label">Telegram</span>
              </a>
            </li>
            {% endif %}
            {% if this.linkedin_handle %}
            <li>
              <a href="https://www.linkedin.com/in/{{ this.linkedin_handle }}" class="icon fa-linkedin" target="_blank">
                <span class="label">Linkedin</span>
              </a>
            </li>
            {% endif %}
            {% if this.meetup_handle %}
            <li>
              <a href="https://www.meetup.com/{{ this.meetup_handle }}" class="icon fa-meetup" target="_blank">
                <span class="label">Meetup</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="col-lg-8 col-sm-12 col-12">
        <h3>Información</h3>
        <div class="content">
          {% if this.information %}
          {{ this.information }}
          {% else %}
          <p>Pronto más información</p>
          {% endif %}
        </div>
      </div>
    </div>

    {%- if this.members -%}
    {% set current_members = [] %}
    {% set past_members = [] %}
    {% for block in this.members.blocks %}
        {% if block.date_start and block.date_end %}
          {% if block.date_end > block.date_end.today() %}
          {% set _ = current_members.append(block.username) %}
          {% else %}
          {% set _ = past_members.append(block.username) %}
          {% endif %}
        {% else %}
          {% set _ = current_members.append(block.username) %}
        {% endif %}
    {% endfor %}
    {{ organizing_team('Equipo Organizador Actual', current_members) }}
    {{ organizing_team('Antiguos Colaboradores', past_members) }}
    {%- endif -%}

  {%- if this.type == 'comunidad' and this.map -%}
    {%- set events = site.query('/eventos/') -%}
    {%- set events_organized_by_this = [] -%}
    {%- for event in events -%}
      {%- for block in event.organizers.blocks -%}
      {%- if block.username == this.username -%}
        {%- set _ = events_organized_by_this.append(event) -%}
      {% endif -%}
      {% endfor -%}
    {%- endfor -%}
    
    {{ create_events('Eventos', events_organized_by_this) }}
  {% endif -%}

  {%- if this.type == 'persona' -%}
    {%- set orgs = site.query('/usuarios/').filter(F.type != 'persona') -%}
    {%- set orgs_membership = [] -%}
    {%- for org in orgs -%}
      {% if org.members %}
        {%- for block in org.members.blocks -%}
        {%- if block.username == this.username -%}
          {%- set _ = orgs_membership.append(org.username) -%}
        {% endif -%}
        {% endfor -%}
      {% endif -%}
    {%- endfor -%}
    
    {{ organizing_team('Organizaciones', orgs_membership) }}
  {% endif -%}

  </div>
</section>
{% endblock %}

