{% extends "page.html" %}
{% from "macros/pagination.html" import render_pagination %}

{% block title %}{{ this.title }}{% endblock %}
{% block content %}

{%- set users = this.pagination.items.filter(F.type != 'persona') -%}
    

<h1>Usuarios</h1>
      <ul>
      {% for child in this.pagination.items.filter(F.type == 'persona') %}
      <li><a href="{{ child|url }}">{{ child.name }} {{ child.last_name }} - <i>({{ child._id }})</i></a></li>
      {%- if child._id != child.username -%}
      <h1>ERROR</h1>
      {%- endif -%}
      {% endfor %}
      </ul>


<h1>Empresas / Organizaciones / Comunidades</h1>
      <ul>
      {% for child in this.pagination.items.filter(F.type != 'persona') %}
      <li><a href="{{ child|url }}">{{ child.name }} - <i>({{ child._id }})</i></a></li>
      {%- if child._id != child.username -%}
      <h1>ERROR</h1>
      {%- endif -%}
      {% endfor %}
      </ul>

    <div class="row">
      <div class="title text-center ">
        {{ render_pagination(this.pagination) }}
      </div>
    </div>

{% endblock %}